div:hover{
  border-style: solid;
  border-width: 2px;
}

div:nth-child(3){
  color: red;
  font-style: italic;
}

div:nth-child(4){
  color: orange;
  font-style: oblique;
}

div:nth-child(5){
  color:orangered;
  font-style: inherit;
  font-size: 20px;
}

div:nth-child(6){
  color: gray;
  font-style: italic;
}

div:nth-child(7){
  color: whitesmoke;
  font-style: oblique;
}

div:nth-child(odd){
  font-style: italic;
}